.header__logo {
  width: 142px;
  height: 33px;
  margin: 45px 0px 40px;
  background-image: url('../../../images/header-logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  }

  @media (max-width: 900px) {
    .header__logo {
      margin-left: 27px;
    }
  }

  @media (max-width: 525px) {
    .header__logo {
      width: 104px;
      height: 25px;
      margin-top: 28px;
      margin-bottom: 32px;
    }
  }