.button {
  color: rgba(255, 255, 255, 1);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 1);
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.button:hover {
  opacity: .6;
}