.user__about {
  max-width: 400px;
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 525px) {
  .user__about {
    max-width: 350px;
  }
}

@media (max-width: 425px) {
  .user__about {
    max-width: 250px;
    font-size: 14px;
    line-height: normal;
  }
}