.popup__button-save_invalid {
  background: none;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 2px;
  box-sizing: border-box;
  color: rgba(196, 196, 196, 1);
}

.popup__button-save_invalid:hover {
  cursor: auto;
  opacity: 1;
}