/* fonts */

@import url(./vendor/fonts/fonts.css);

/* root */

@import url(./blocks/root/root.css);

/* page */

@import url(./blocks/page/page.css);
@import url(./blocks/page/__section/page__section.css);

/* header */

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);

/* user */

@import url(./blocks/user/user.css);
@import url(./blocks/user/__wrapper/user__wrapper.css);
@import url(./blocks/user/__edit-avatar/user__edit-avatar.css);
@import url(./blocks/user/__avatar/user__avatar.css);
@import url(./blocks/user/__info/user__info.css);
@import url(./blocks/user/__text/user__text.css);
@import url(./blocks/user/__name/user__name.css);
@import url(./blocks/user/__about/user__about.css);
@import url(./blocks/button/button.css);
@import url(./blocks/user/__edit/user__edit.css);
@import url(./blocks/user/__add/user__add.css);

/* places */

@import url(./blocks/places/__section/places__section.css);

/* place-card */

@import url(./blocks/place-card/place-card.css);
@import url(./blocks/place-card/__image/place-card__image.css);
@import url(./blocks/place-card/__wrapper/place-card__wrapper.css);
@import url(./blocks/place-card/__name/place-card__name.css);
@import url(./blocks/place-card/__like-wrap/place-card__like-wrap.css);
@import url(./blocks/place-card/__like/place-card__like.css);
@import url(./blocks/place-card/__like/_active/place-card__like_active.css);
@import url(./blocks/place-card/__like-count/place-card__like-count.css);
@import url(./blocks/place-card/__delete/place-card__delete.css);
@import url(./blocks/place-card/__delete/_hidden/place-card__delete_hidden.css);

/* footer */

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

/* popup Edit */

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__input-error/_active/popup__input-error_active.css);
@import url(./blocks/popup/__button-save/popup__button-save.css);
@import url(./blocks/popup/__button-save/_invalid/popup__button-save_invalid.css);
@import url(./blocks/popup/__button-close/popup__button-close.css);

/* popup Add */

@import url(./blocks/popup/__view/popup__view.css);
@import url(./blocks/popup/__figure/popup__figure.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__figcaption/popup__figcaption.css);

/* popup Delete */

@import url(./blocks/popup/__form/_type/_confirm/popup__form_type_confirm.css);
@import url(./blocks/popup/__button-confirm/popup__button-confirm.css);

/* auth */

@import url(./blocks/auth/auth.css);
@import url(./blocks/auth/__title/auth__title.css);
@import url(./blocks/auth/__form/auth__form.css);
@import url(./blocks/auth/__input/auth__input.css);
@import url(./blocks/auth/__button-submit/auth__button-submit.css);
@import url(./blocks/auth/__text/auth__text.css);
@import url(./blocks/auth/__link/auth__link.css);

/* popup auth */

@import url(./blocks/popup/__title/_auth/popup__title_auth.css);
@import url(./blocks/popup/__container/_auth/popup__container_auth.css);
@import url(./blocks/popup/__auth-image/popup__auth-image.css);
